.login-container{
    margin-top: 2.5%;
    margin-bottom: 2%;
}
.login-form{
    padding: 8%;
    background:#2b303a;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.logo{
    background: #ff0054;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding-top: 7%;
    padding-left: 0;
    padding-right: 0;
    width: 5%;
}

.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #2b303a;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.8rem;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

#checkUsername-login{
    color: #ff0054;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
}

#checkPassword-login{
    color: #ff0054;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
}
