div{
    font-family: 'Archivo', sans-serif;
}

nav{
    background-color: #fff;
}

Button{
    background-color: #2b303a;
    margin:5px; 
}
form{
    margin-left: 20px;
}   
.navbar-brand{
    font-weight: bolder;
}


.navbar{
    border-bottom: 2px inset #88888b;
}
.btnImagen{
    border: none;
}

.btnImagen:focus {
    box-shadow: none;
}

.dropdown:hover {
    display: block;
}

#logo{    
    margin: 5px;
}

#search{

    text-align:center;
}

#buscarButton{
    margin : 0.8rem;

}
.btn-navbar{
    border-color: #6369d1;
    font-weight: bold;
    transition: all 0.4s;
}

.btn-navbar:hover{
    background-color: #6369d1;
    border-color: #2b303a;
    color : white;
}


